.chart-btn-container{
    display :flex;
    padding: 1rem;
    justify-content: center;
    justify-items: center;
}
.chart-btn-container button{
    margin: 0.2rem;
    width: 140px;
    font-size: 0.6rem;
    background-color: transparent;
    height: 30px;
    border-radius: 25%;
    color:blue;
    transition: all 0.4s;
}

.chart-btn-container button:hover{
    background:lightskyblue;
    color: blue;
    border: none;
}


@media only screen and (max-width: 700px) {
    .chart-btn-container{
        display :flex;
        flex-direction: column;
        padding: 1rem;
        justify-content: center;
        align-items: center;
    }
 
  }